.header h2
{
    font-family: 'Bungee Spice', cursive;
}

.img {
    width: 100%;
}

.header {
    font-family: 'Caveat', cursive;
    width: 100%;
}

button {
    font-family: 'Caveat', cursive;
 
}